@font-face{font-family:"AppleSDGothicNeoB"; src:local(※), url("../font/AppleSDGothicNeoB.ttf") format('truetype');}
@font-face{font-family:"AppleSDGothicNeoEB"; src:local(※), url("../font/AppleSDGothicNeoEB.ttf") format('truetype');}
@font-face{font-family:"AppleSDGothicNeoH"; src:local(※), url("../font/AppleSDGothicNeoH.ttf") format('truetype');}
@font-face{font-family:"AppleSDGothicNeoL"; src:local(※), url("../font/AppleSDGothicNeoL.ttf") format('truetype');}
@font-face{font-family:"AppleSDGothicNeoM"; src:local(※), url("../font/AppleSDGothicNeoM.ttf") format('truetype');}

header{position: relative;}
header .header_div{display: flex; padding: 0 10%; position: fixed; top: 0; left: 0; right: 0; z-index: 9999; background-color: white; box-shadow: 1px -3px 11px 0px;}
header .header_div div{width: 50%; text-align: center; padding: 3% 0 1% 0%;}
header .header_div .header_div_l img{width: 30%; height: 90%;}
header .header_div .header_div_l a{display: none;}
header .header_div .header_div_r{display: flex; font-size: 1vw;}
header .header_div .header_div_r div{width: 25%;}
header .header_div .header_div_r div span{padding: 6% 12%;}
header .header_div .header_div_r div span:hover{border-bottom: 7px solid  #0072bc;}
header .header_div .header_div_r div span a{text-decoration: none; color:black; font-family: "AppleSDGothicNeoB",serif;}
header .header_div .header_div_r .c_select{ position: relative;}
header .header_div .header_div_r .c_select .c_c_select{display: none; position: absolute; background: white; line-height: 195%; margin-top: 15%; width: 100%;}
header .header_div .header_div_r .c_select .c_c_select img{width: 15%; margin-right: 10%; margin-top: 5%;}
header .header_div .header_div_r .c_select .c_c_select a{vertical-align: top; font-size: 1vw; text-decoration: none; color:black; font-weight: 600;}
header .header_div .header_div_r .c_select .c_c_select a:hover{text-decoration: underline;}
header .header_div .header_div_r .c_select:hover .c_c_select{display: block; transform: 0.3s;}

.container{margin-top: 7%;}
.main_banner{padding-top: 4% ; padding-left: 13%; padding-bottom: 2%; background: url("../img/twi001t3122876.png") no-repeat; background-size: 100% 132%; }
.main_banner p{margin-top: 8%; margin-left: 18%;font-size: 2.5vw; font-family: "AppleSDGothicNeoL",serif;}
.main_banner p strong{font-family: "AppleSDGothicNeoH",serif; font-size: 3.3vw;}
.main_download_link{display: flex; margin-top: 19%; margin-left: 40%; padding-bottom: 3.9%; height: 16%;}
.main_download_link div{width: 25%; margin-left: 4%; color: white; background:url(../img/Rectangle\ 3.png); font-family: "AppleSDGothicNeoL",serif;}
.main_download_link div a{text-decoration: none; text-align: center;}
.main_download_link div a h1, .main_download_link div a h2{margin: 4% auto; color: white;}
.main_download_link div a h1{font-size: 1.5vw;}
.main_download_link div a h2{font-size: 0.9vw;}

.main_banner2{display: flex; margin-bottom: 5%;}
.main_banner2 div{margin-top: 10%; width: 50%;}
.main_banner2 div:nth-child(1){padding-left: 24%;}
.main_banner2 div:nth-child(2){padding-right: 24%;}
.main_banner2 div:nth-child(2) div{width: 80%;}
.main_banner2 div:nth-child(2) div:nth-child(1){background: url("../img/twi001t2045496.png") 32% no-repeat; background-size: cover; height: 100%; margin-top: 0%;}
.main_banner2 div img{width: 100%; height: 100%; display: none;}
.main_banner2 div .text1, .main_banner2 div .text2{font-family: "AppleSDGothicNeoEB",serif;}
.main_banner2 div .text1{ font-size: 3vw; font-weight: 300; color:  #0072bc;}
.main_banner2 div .text2{ font-size: 2.3vw;}
.main_banner2 div .text2 span{font-size: 1.1vw; font-family: "AppleSDGothicNeoB",serif;}
.main_banner2 div .text3{margin-top: 10%; font-size: 0.9vw; color:#aaaaaa; font-family: "AppleSDGothicNeoB",serif;}
.main_banner2 div .text3 strong{font-weight: bold; color: black; line-height: 150%;}

.main_banner3_container{background: url("../img/Rectangle\ 7.png"); margin-bottom: 8%; position: relative;}
.main_banner3_container .back_logo{background: url("../img/Vector\ Smart\ Object\ copy\ 3.png") -2% 109% no-repeat; background-size: 48%;}
.main_banner3_container .back_logo .back_top_logo{padding: 2% 0 3% 23%;}
.main_banner3_container .back_logo .back_top_logo span{font-size: 6vw; color:white;font-family: "AppleSDGothicNeoL",serif;}
.main_banner3_container .back_logo .slider_banner{padding: 0% 13% 10% 23%; font-size: 1.2vw; color: white; line-height: 1.8; height: 160px;;}
.main_banner3 .img1{background: url(../img/Layer\ 1.png) no-repeat; width: 100%; background-size: 80% 98%;  padding: 12% 0%;}
.main_banner3 .img1{text-align: left; font-size: 1.2em; line-height: 140%; color: white; padding: 0 17%;}

.main_banner4{display: flex; position: relative; padding: 0 28%; margin-bottom: 2%; }
.main_banner4 div{width: 50%;}
.main_banner4 .banner4_img{width: 65%;}
.main_banner4 .banner4_img img{width: 24vw; height: 24vw;}
.main_banner4 .banner4_text p{font-size: 1.7vw; line-height: 130%; font-family: "AppleSDGothicNeoB",serif;}
.main_banner4 .banner4_text p strong{font-weight: bold; color:  #0072bc;}
.main_banner4 .banner4_text{padding-left: 2%;}

.banner5{display: flex; text-align: center; padding: 0 28%; font-family: "AppleSDGothicNeoL",serif;}
.banner5 div{padding:4.5% 0; width: 130px; height: 1.9vw; margin-right: 3%; border-radius: 50%; text-align: center; background-color: black; color: white; line-height: 145%;}
.banner5 div:nth-child(even){background-color: #0072bc;} 
.banner5 div span{font-size: 0.8vw; display: inline-block; margin: 7% auto;}
.banner5 div span:first-child{line-height: 140%;}


.banner6{margin: 6% 0%; margin-top: 20%;}
.banner6 .banner6_title{padding: 0 29%;}
.banner6 .banner6_title p{font-size:1.8vw; line-height: 120%; font-weight: 300; font-family:  "AppleSDGothicNeoEB",serif;}
.banner6 .banner6_title p strong{color:  #0072bc; font-size: 2vw; font-weight: 300;}
.banner6_content{margin-top: 5%;}
.banner6_content div{text-align: center; margin-bottom: 1%;}
.banner6_content .t_img img{width: 5%; height: 10px;}
.banner6_content .c_text{font-family: "AppleSDGothicNeoB",serif; font-size: 1.5vw; margin-bottom: 4%;}
.banner6_content .c_img{padding: 0 5%;}
.banner6_content .c_img img{width: 50%; margin-bottom: 5%;}
body > div.container > div.banner6 > div.banner6_content.b_2 > div.c_img > img{width: 50%;}
.b_3 { font-family: "AppleSDGothicNeoH",serif;}
.b_3 .c_img div{display: flex;}
.b_3 .c_img div div{width: 50%;}
.b_3 .c_img div div:nth-child(even){display: block; text-align: left; padding-left: 1%; font-family:  "AppleSDGothicNeoL",serif;}
.b_3 .c_img div div:nth-child(even) h1{color:  #0072bc; font-size: 1.5vw; font-weight: 900; margin-bottom: 3%;}
.b_3 .c_img div div:nth-child(even) p{color:  #8a8a8a; font-size: 1vw; line-height: 115%;}
.b_3 .c_img div div:nth-child(odd){width: 35%;}
.b_3 .c_img div div:nth-child(odd) img{width: 20%; margin-left: 80%;}

.banner7 {background: url("../img/Vector\ Smart\ Object4.png") 100% 10% no-repeat; background-size: 50%;}
.banner7 .banner7_title{padding: 0 28%; padding-bottom: 25%;}
.banner7 .banner7_title p{font-size:1.6vw; line-height: 120%; font-weight: 300; font-family:  "AppleSDGothicNeoEB",serif;}
.banner7 .banner7_title p strong{color: #0072bc; font-size: 1.1em; font-weight: 300;}
.banner7 .c_text{padding-left: 28%; font-size: 1vw; margin-top: 3%; line-height: 145%; font-family: "AppleSDGothicNeoL",serif;}
.banner7 .token_t{margin-top: 15%; padding-left: 26%; font-size: 3vw; font-weight: 300; color: #0072bc; line-height: 180%; font-family: "AppleSDGothicNeoEB",serif;}
.banner7 .token_c {position: relative;}
.banner7 .token_c p{position: absolute; top:7%; left:26%; font-size: 1.3vw; color: white; line-height: 180%; font-weight: 400; font-family: "AppleSDGothicNeoL",serif;} 
.banner7 .token_c p strong{ font-weight: 900; font-size: 1.8em;}
.banner7 .token_c img{width: 99vw; height:37vw;}


.banner8 .banner8_t img{width: 9%; height: 9px;}
.banner8 .banner8_t{padding-top: 5%; line-height: 200%; font-size: 1.7vw; text-align: center; font-family: "AppleSDGothicNeoB",serif;}
.banner8 .banner8_img{text-align: center; margin-bottom: 3%;}
.banner8 .banner8_img img{width: 30%;}
.banner8 .banner8_c{display: flex; margin: 0 auto; width: 40%; border-top: 1px solid #aaaaaa; border-bottom: 1px solid #aaaaaa; padding: 1% 0;}
.banner8 .banner8_c span{margin: 0 auto; font-size: 1.4vw; padding-top: 1%;}
.banner8 .banner8_c span:nth-child(2){ border: 0.5px solid #aaaaaa; margin: 0;}
.banner8 .banner8_c span strong{color: #0072bc;}
.banner8 .banner8_c2{ padding: 1% 0; text-align: center; font-size: 1.4vw; line-height: 30px;border-bottom: 1px solid  #aaaaaa; width: 40%; margin: 0 auto;}
.banner8 .banner8_c2 span:nth-child(1){color: #0072bc;}
.banner8 .banner8_c, .banner8 .banner8_c2{font-family: "AppleSDGothicNeoB",serif;}


.banner9{margin-top: 25%; margin-bottom: 15%; font-size: 1vw;}
.banner9 h1{color: #0072bc; margin-bottom: 5%; text-align: center; font-size: 2.8vw; font-weight: 600; font-family: "AppleSDGothicNeoB",serif;}
.banner9 div div{display: flex;}
.banner9 .roadmap1, .banner9 .roadmap2{padding: 0 20%; font-family: "AppleSDGothicNeoB",serif; margin-bottom: 3%;}
.banner9 .roadmap1 .roadmap1_1 div, .banner9 .roadmap2 .roadmap2_1 div{width: 11%; font-size: 1.5vw; color: #0072bc; font-weight: bold;}
.banner9 .roadmap1 .roadmap1_1 div:first-child{width: 2%;}
.banner9 .roadmap1 .roadmap1_2, .banner9 .roadmap2 .roadmap2_2{margin: 2% 0;}
.banner9 .roadmap1 .roadmap1_2 div:first-child, .banner9 .roadmap2 .roadmap2_2 div:first-child{width: 10%;}
.banner9 .roadmap1 .roadmap1_2 div:nth-child(odd){width: 100%; border: 0.9px solid  #0072bc; height: 0vw; margin-top: 0.7vw;}
.banner9 .roadmap1 .roadmap1_2 div:nth-child(even){width: 16%; height: 1.5vw; border-radius: 50%; background-color: #0072bc;}
.banner9 .roadmap1 .roadmap1_3 {font-size: 0.9vw;}
.banner9 .roadmap1 .roadmap1_3 div, .banner9 .roadmap2 .roadmap2_3 div{display: block; width: 20%; }
.banner9 .roadmap1 .roadmap1_3 div:first-child{width: 7%;}
.banner9 .roadmap1 .roadmap1_3 div h2, .banner9 .roadmap2 .roadmap2_3 div h2{margin-bottom: 7%;}
.banner9 .roadmap1 .roadmap1_3 div ul {line-height: 1.1vw; font-size: 0.9vw;}
.banner9 .roadmap1 .roadmap1_3 div ul li{color:  #8a8a8a;}
.banner9 .roadmap1 .roadmap1_3 div ul li::before{content: "\2022"; color: #0072bc; font-weight: bold; display: inline-block; width: 1em; margin-left: -1em;}
.banner9 .roadmap1 .roadmap1_2 div:nth-child(odd):first-child, .banner9 .roadmap2 .roadmap2_2 div:nth-child(odd):first-child{width: 30%;}
.banner9 .roadmap2 .roadmap2_1 div:first-child{width: 2%;}
.banner9 .roadmap2 .roadmap2_2 div:nth-child(odd){width: 100%; border: 0.9px solid  #0072bc; height: 0vw; margin-top: 0.7vw;}
.banner9 .roadmap2 .roadmap2_2 div:nth-child(even){width: 15%; height: 1.5vw; border-radius: 50%; background-color: #0072bc;}
.banner9 .roadmap2 .roadmap2_2 div:nth-child(10){background-color: white;}
.banner9 .roadmap2 .roadmap2_2 div:nth-child(11){border: white;}
.banner9 .roadmap2 .roadmap2_3 {font-size: 0.9vw;}
.banner10 .ceo{text-align: center; padding-top: 5%; padding-bottom: 4%;}
.banner10 h1{color: #0072bc; text-align: center; font-size: 2.8vw; font-weight: 600; font-family: "AppleSDGothicNeoB",serif;}
.banner10 .ceo_2 p strong{color: #0072bc; font-family: "AppleSDGothicNeoB",serif;}
.banner10 .ceo_2 ul li::before{content: "\2022"; color: #0072bc; font-weight: bold; display: inline-block; width: 1em; margin-left: -1em;}
.banner10 .ceo_2{display: flex; margin: 4% 0;}
.banner10 .ceo_2 div{width: 17%;}
.banner10 .ceo_2 div img{width: 65%;}
.banner10 .ceo_2 ul li{font-size: 1.2vw; line-height: 175%; font-weight: 300;}
.banner10 .ceo_2 p{width: 65%; margin: 7% auto; font-size: 1.2vw; font-family: "S DGothic Neoa Uni";}

.banner11{background: url("../img/BACK\ copy\ 3.png") no-repeat; background-size: 100%; padding-top:20%; padding-bottom: 19%;}
.banner11 h1{color: #0072bc; text-align: center; font-size: 2.8vw; font-weight: 600; font-family: "AppleSDGothicNeoB",serif; margin-bottom: 7%;}
.banner11 .ceo{display: flex; text-align: center;}
.banner11 .ceo div{width: 15%; margin:  0 auto;}
.banner11 .ceo img{width: 75%;}
.banner11 .ceo ul li{font-size: 1vw; color: #8a8a8a; line-height: 175%; font-weight: 300;}
.banner11 .ceo ul li::before, .banner10 .ceo_2 ul li::before{content: "\2022"; color: #8a8a8a; font-weight: bold; display: inline-block; width: 1em; margin-left: -1em;}
.banner11 .ceo p{width: 100%; margin: 7% auto; color: black; font-size: 1.2vw; font-family: "S DGothic Neoa Uni";}
.banner11 .ceo p strong{color: #0072bc; font-family: "AppleSDGothicNeoB",serif; }


.partners{background: url("../img/BACK\ copy\ 3.png") 1% 1% no-repeat; background-size: 100%;}
.partners .partners_1{padding: 7% 0; text-align: center; font-size: 3vw; color: white; font-weight: 600; background-color: #0072bc; border-radius: 59% 0 0 0 / 30% 0 0 0;}
.partners .partners_1 .partners_1_2{margin-top: 3%;  padding: 0 10%;}
.partners .partners_1 .partners_1_2 img{width: 16%;}

.bottom{background-color: black; padding: 11% 25.5% 1% 25.5%; line-height: 165%;}
.bottom img{width: 15%;}
.bottom p{color: white; margin-top: 3%; margin-bottom: 15%; font-size: 1.2vw; font-family: "AppleSDGothicNeoL",serif;}





/* media query */
@media screen and (max-width:1400px){
    .container{margin-top: 8%;}
}

@media screen and (max-width:1024px){
    .container{margin-top: 10%;}
    .header_div{display: block;}

    .main_banner4{padding: 0 18%;}
    .main_banner4 .banner4_img{width: 55%;}

    .banner5{padding: 0 18%;}
    .banner5 div{height: 2.5vw;}
}

@media screen and (max-width:1203px){
    .container{margin-top: 8%;}
}

@media screen and (min-width:900px){
    header .header_div .header_div_r{display: flex !important;}
}

@media screen and (max-width: 768px){
    .container{margin-top: 13%;}

    header .header_div{ padding:0; display: block;}
    header .header_div div{width: 100%; padding: 2.7% 0 1% 0%;}
    header .header_div .header_div_l{display: flex; width: 100%;}
    header .header_div .header_div_l img ,header .header_div .header_div_l a{margin: 0 auto;}
    header .header_div .header_div_l a{display: block; margin-top: 4%; font-size: 3vw;}
    header .header_div .header_div_l img{width: 25%;}
    header .header_div .header_div_r {display: none;}
    header .header_div .header_div_r div{font-size: 3vw; margin: 0 auto; width: 16%;}
    header .header_div .header_div_r .c_select .c_c_select{margin-top: 8%;}
    header .header_div .header_div_r .c_select .c_c_select ul li img{width: 20%; margin-right: 10%; margin-top: 8%;}
    header .header_div .header_div_r .c_select .c_c_select ul li a{font-size: 2vw;}

    .main_banner {background-size: 100% 130%;}

    .main_banner2 div:nth-child(1){padding-left: 19%;}
    .main_banner2 div:nth-child(2){padding-right: 19%;}
    .main_banner2 div .text1{font-size: 4.9vw;}
    .main_banner2 div .text2{font-size: 3.3vw;}
    .main_banner2 div .text2 span{font-size: 1.6vw}
    .main_banner2 div .text3{font-size: 1.3vw;}

    .main_banner3_container{padding-top: 5%;}
    .main_banner3_container .back_logo .back_top_logo{padding: 2% 0 3% 9%;}
    .main_banner3_container .back_logo .slider_banner{font-size: 2vw; padding: 0% 5% 10% 5%;}

    
    
    .main_banner4 {padding: 0 21%;}
    .main_banner4 .banner4_text{padding-left: 0;}
    .main_banner4 .banner4_img img{width: 30vw; height: 32vw;}
    .main_banner4 .banner4_text p{font-size: 2.7vw;}

    .banner5{display: block;}
    .banner5 div{padding-top:9%; height: 8.5vw; line-height: 110%; margin: 5% auto;}
    .banner5 div span{font-size: 2vw;}
    
    .banner6 .banner6_title{padding: 0 27%;}
    .banner6 .banner6_title p, .banner6_content .c_text{font-size: 2.5vw;}
    .banner6_content .t_img img{width: 8%; height: 10px;}
    .banner6_content .c_img img,body > div.container > div.banner6 > div.banner6_content.b_2 > div.c_img > img{width: 70%;}
    .b_3 .c_img div div:nth-child(odd){width: 40%;}
    .b_3 .c_img div div:nth-child(odd) img{width: 28%; margin-left: 68%;}
    .b_3 .c_img div div:nth-child(even) h1{font-size: 3vw;}
    .b_3 .c_img div div:nth-child(even) p{font-size: 1.7vw;}

    .banner7{background: url(../img/Vector\ Smart\ Object4.png) 100% 25% no-repeat; background-size: 50%;}
    .banner7 .banner7_title p{font-size: 2.6vw;}
    .banner7 .c_text{font-size: 1.7vw; margin-top: 5%;}
    .banner7 .token_t{font-size: 5vw;}
    .banner7 .token_c p{font-size: 1.9vw;}

    .banner8 .banner8_t{font-size: 2.7vw;}
    .banner8 .banner8_img img{width: 50%;}
    .banner8 .banner8_c span{font-size: 2.4vw;}
    .banner8 .banner8_c2{font-size: 2.4vw;}

    .banner9 h1,.banner10 h1,.banner11 h1{font-size: 4.8vw;}
    .banner9 .roadmap1, .banner9 .roadmap2{display: flex; margin-bottom: -6.6%; padding: 0 10%;}
    .banner9 div div{display: block; width: 100%;}
    .banner9 .roadmap1 .roadmap1_1 div,.banner9 .roadmap2 .roadmap2_1 div,.banner9 .roadmap1 .roadmap1_2 div:nth-child(odd), .banner9 .roadmap2 .roadmap2_2 div:nth-child(odd){margin: 0 auto; width: 100%;}
    .banner9 .roadmap1 .roadmap1_1 div,.banner9 .roadmap2 .roadmap2_1 div{margin: 40% 50%; font-size: 3.9vw; text-align: center;}
    .banner9 .roadmap1 .roadmap1_2, .banner9 .roadmap2 .roadmap2_2{margin: 0;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(odd), .banner9 .roadmap2 .roadmap2_2 div:nth-child(odd){width: 0%; height: 9.3vw;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(even), .banner9 .roadmap2 .roadmap2_2 div:nth-child(even){margin: 0 auto; width: 20%; height: 5vw;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(odd):first-child, .banner9 .roadmap2 .roadmap2_2 div:nth-child(odd):first-child{width: 0%;}
    .banner9 .roadmap1 .roadmap1_1 div:nth-child(10){margin-top: 65%;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(9){height: 15vw;}

    .banner9 .roadmap1 .roadmap1_3 div, .banner9 .roadmap2 .roadmap2_3 div{width: 100%; margin: 0% -24%; font-size: 2vw;}
    .banner9 .roadmap1 .roadmap1_3 div h2, .banner9 .roadmap2 .roadmap2_3 div h2{margin-bottom: 5%;}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(2){margin-top:35%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(4){margin-top:26%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(6){margin-top:25%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(8){margin-top:20%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(10){margin-top:33%}

    .banner9 .roadmap1 .roadmap1_3 div ul{padding-left: 5%; font-size: 1.5vw;}

    .banner9 .roadmap1 .roadmap1_3 div ul li{line-height: 96%;}

    .banner9 .roadmap2 .roadmap2_3 div{margin: 0% -24%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(1){margin-top: 32%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(2){margin-top: 33%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(3){margin-top: 40%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(4){margin-top: 45%;}


    

    .slider_banner br{display: none;}
    .slick-dots li.slick-active button:before{width: 132%; height: 50%; top: -275%; left: 50%;}
    .slick-dots li button:before{width: 50%; height: 50%; line-height: 135%; top: -275%; left: 50%; }
}

@media screen and (max-width:607px){
    .main_banner2 div:nth-child(1){padding-left: 1%;}
    .main_banner2 div:nth-child(2){padding-right: 1%;}

    .banner5 div{width: 90px; height: 8.5vw;}

    .slick-dots li button:before{top: -195%;}
}

@media screen and (max-width:504px){
    body > div.container > div.main_banner2 > div:nth-child(1) > p.text3 > br:nth-child(2),body > div.container > div.main_banner2 > div:nth-child(1) > p.text3 > br:nth-child(5){display: none;}
    
    
    
    .slick-dots li button:before{top: -315%;}
}

@media screen and (max-width:414px){
    header .header_div .header_div_r div{font-size: 5vw; width: 30%;}
    header .header_div .header_div_r .c_select .c_c_select{margin-top: 7%;}
    header .header_div .header_div_r .c_select .c_c_select ul li img{width: 25%; margin-top: 6%;}
    header .header_div .header_div_r .c_select .c_c_select ul li a{font-size: 3vw;}

    
    .main_banner p{font-size: 4.5vw; margin-left: 0%;}
    .main_banner p strong{font-size: 5.3vw;}
    .main_download_link{margin-left: 0%;}
    .main_download_link div{width: 33%; margin-left: 4%;}
    .main_download_link div a h1{font-size: 4vw;}
    .main_download_link div a h2{font-size: 3.5vw;}

    

    .main_banner2{display: block; margin-top: 5%;}
    .main_banner2 div{margin: 0 auto;}
    .main_banner2 div img{display: block; margin-top: 5%;}
    .main_banner2 div:nth-child(2) div:nth-child(1){width: 90%; background: none;}
    .main_banner2 div:nth-child(1) {padding-left: 0%;}
    .main_banner2 div .text1, .main_banner2 div .text2{padding-left: 0%;}
    .main_banner2 div .text1{font-size: 8vw;}
    .main_banner2 div .text2{font-size: 4.3vw;}
    .main_banner2 div .text2 span{font-size: 2.8vw;}
    .main_banner2 div .text3{margin-top: 0%; font-size: 2.8vw; line-height: 130%;}
    
    
    .main_banner3_container .back_logo{background: url(../img/Vector\ Smart\ Object\ copy\ 3.png) -2% 100% no-repeat; background-size: 60%;}
    .main_banner3_container .back_logo .back_top_logo {padding: 2% 0 3% 5%;}
    .main_banner3_container .back_logo .back_top_logo span{font-size: 12vw;}
    .main_banner3_container .back_logo .slider_banner {font-size: 3.5vw; padding: 0% 5% 30% 5%;}

    .main_banner4{padding: 0 12%; margin-bottom: 5%;}
    .main_banner4 .banner4_img{width: 65%;}
    .main_banner4 .banner4_img img{width: 35vw; height: 40vw;}
    .main_banner4 .banner4_text{padding-left: 0%;}
    .main_banner4 .banner4_text p{font-size: 3.4vw;}
    .main_banner4 div{width: 60%;}

    
    .banner5 div{padding-top:14%; width: 110px; height: 15vw; line-height: 112%;}
    .banner5 div span{font-size: 3vw;}

    .banner6 .banner6_title{padding: 0 25%;}
    .banner6 .banner6_title p{font-size: 3vw;}
    .banner6 .banner6_title p strong{font-size: 4vw;}
    .banner6_content .t_img img{width: 10%; height: 7px;}
    .banner6_content .c_img img{width: 90%; margin-bottom: 43%;}
    body > div.container > div.banner6 > div.banner6_content.b_2 > div.c_img > img{width: 85%;}
    .banner6_content .c_text{font-size: 3.5vw;}
    .b_3 .c_img div div:nth-child(odd) img{width: 57%; height: 56%; margin-left: 26%;}
    .b_3 .c_img div div:nth-child(4) img{height: 50%;}
    .b_3 .c_img div div:nth-child(even) h1{font-size: 4vw; font-weight: 900;}
    .b_3 .c_img div div:nth-child(even) p{font-size: 3.9vw; margin-bottom: 5%;}


    .banner7{background-size: 60%;}
    .banner7 .banner7_title{padding: 0 17%; padding-bottom: 30%}
    .banner7 .banner7_title p{font-size: 4vw;}
    .banner7 .c_text{padding: 0px 26%; font-size: 2.7vw;margin-top: 10%;}
    

    .banner7 .token_t{font-size: 5vw;}
    .banner7 .token_c p{left: 15%;  font-size: 2.5vw;}
    .banner7 .token_c img{width: 100vw;  height: 40vw;}

    .banner8 .banner8_c2{line-height: 15px;}

    .banner9 h1, .banner10 h1, .banner11 h1{font-size: 5.8vw;}

    .banner9 .roadmap1 .roadmap1_1 div, .banner9 .roadmap2 .roadmap2_1 div{margin: 36.5% 40%; font-size: 5vw;}
    
    .banner9 .roadmap1 .roadmap1_1 div:nth-child(6){margin-top: 68%;}
    .banner9 .roadmap1 .roadmap1_1 div:nth-child(8){margin-top: 55%;}
    .banner9 .roadmap1 .roadmap1_1 div:nth-child(10){margin-top: 85%;}

    .banner9 .roadmap1 .roadmap1_2 div:nth-child(5){height: 18vw;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(7){height: 14vw;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(9){height: 22vw;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(11){height: 19vw;}

    .banner9 .roadmap1 .roadmap1_3 div, .banner9 .roadmap2 .roadmap2_3 div{font-size: 3vw;}
    .banner9 .roadmap1 .roadmap1_3 div ul{font-size: 2.6vw;}

    .banner9 .roadmap1 .roadmap1_3 div:nth-child(2){margin-top:20%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(4){margin-top:5%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(6){margin-top:5%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(8){margin-top:6%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(10){margin-top:10%}

    .banner9 .roadmap2 .roadmap2_3 div:nth-child(1){margin-top: 25%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(2){margin-top: 10%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(3){margin-top: 10%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(4){margin-top: 25%;}

    .banner10 .ceo{background-size: 245%; padding-top: 10%; padding-bottom: 5%;}
    .banner10 .ceo_1 img{width: 25%;}

    .banner10 .ceo_2{display: block;}
    .banner10 .ceo_2 div{margin: 7% auto; width: 50%;}
    .banner10 .ceo_1 p,.banner10 .ceo_2 p{width: 55%; font-size: 4.2vw;}
    .banner10 .ceo_1 ul li,.banner10 .ceo_2 ul li{font-size: 3.5vw;}

    .banner11{background-size: 299%;}
    .banner11 .ceo{display: block;}
    .banner11 .ceo div{width: 50%; margin: 10% auto;}
    .banner11 .ceo img{width: 65%;}
    .banner11 .ceo p{font-size: 4.2vw;}
    .banner11 .ceo ul li{font-size: 3.5vw;}

    .partners{background-size: 270%;}
    .partners p{font-size: 4vw;}

    .bottom{padding: 11% 2% 1% 2%; line-height: 133%;}
    .bottom p{font-size: 3vw;}

    .slick-dots li button:before{top: -255%; left: 150%;}
    .slick-dots li.slick-active button:before {top: -255%; left: 150%;}
 
}

@media screen and (max-width:375px){
    
    .main_banner4 .banner4_text p{font-size: 3.4vw;}
    
    .banner9 .roadmap1 .roadmap1_1 div, .banner9 .roadmap2 .roadmap2_1 div{margin: 60% 35%;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(9){height: 19vw;}
    .banner9 .roadmap1 .roadmap1_2 div:nth-child(odd), .banner9 .roadmap2 .roadmap2_2 div:nth-child(odd){height: 15.6vw;}

    .slick-dots li.slick-active button:before{top: -330%;}
    .slick-dots li button:before{top: -330%;}

    .bottom p{font-size: 3vw;}
}

@media screen and (max-width:360px){
    .main_banner3_container{height: 150px;}
    .main_banner3_container .back_logo{background: url("../img/Vector\ Smart\ Object\ copy\ 3.png") -5% 63% no-repeat; background-size: 48%;}

    .banner5 div{width: 105px;}

    .banner9 .roadmap1 .roadmap1_2 div:nth-child(9){height: 18vw;}
   
} 

@media screen and (max-width:320px){
    header .header_div .header_div_r .c_select .c_c_select ul li img{width: 30%;}
    header .header_div .header_div_r .c_select .c_c_select ul li a{font-size: 4vw;}

    .main_banner3_container{height: 220px;}
    .main_banner3_container .back_logo{background: url("../img/Vector\ Smart\ Object\ copy\ 3.png") -5% 68% no-repeat; background-size: 48%;}
    .main_banner3_container .back_logo .slider_banner {font-size: 3.5vw; }
    .b_3 .c_img div div:nth-child(odd) img{height: 60%;}
    
    .banner5 div{width: 90px;}

    .banner7 .banner7_title{padding: 0 10%;}
    .banner7 .c_text{margin-top: 34%; padding: 0px 28%;}

    .banner9 .roadmap1 .roadmap1_1 div:nth-child(6){margin-top: 58%;}
    .banner9 .roadmap1 .roadmap1_1 div:nth-child(8){margin-top: 55%;}
    .banner9 .roadmap1 .roadmap1_1 div:nth-child(10){margin-top: 70%;}

    .banner9 .roadmap1 .roadmap1_2 div:nth-child(9){height: 18vw;}

    .banner9 .roadmap1 .roadmap1_3 div:nth-child(2){margin-top:45%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(4){margin-top:14%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(6){margin-top:5%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(8){margin-top:6%}
    .banner9 .roadmap1 .roadmap1_3 div:nth-child(10){margin-top:10%}

    .banner9 .roadmap2 .roadmap2_3 div:nth-child(1){margin-top: 45%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(2){margin-top: 23%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(3){margin-top: 35%;}
    .banner9 .roadmap2 .roadmap2_3 div:nth-child(4){margin-top: 50%;}

    .slick-dots li.slick-active button:before{top: -580%; left: 75%;}
    .slick-dots li button:before{top: -580%; left: 75%;}
   
} 






















/*slick slider*/
.slider_banner{padding: 8% 26%;}
.slick-prev, .slick-arrow, .slick-next:before, .slick-prev:before{display: none;}