.header h1 { animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite; } 
@keyframes rainbowLink {     
 0% { color: #ff2a2a; }
 15% { color: #ff7a2a; }
 30% { color: #ffc52a; }
 45% { color: #43ff2a; }
 60% { color: #2a89ff; }
 75% { color: #202082; }
 90% { color: #6b2aff; } 
 100% { color: #e82aff; }
}


.header div{margin: 0 auto; padding:3% 10%;}
.header div h1{text-align: center; font-size: 2.5rem;}
.header nav div{text-align: center;}

.s_1 .main{margin: 0 auto; padding: 4% 0; text-align: center; width: 70%; background: #efeeee;}
.s_1 .main span{ border-radius: 141px; background-color: black; margin: 0 auto; color: white; text-align: center; width: 60px; height: 60px; display: inline-block; margin: 0 1%; line-height: 60px;}
.s_1 .main span:nth-child(){background:none; color:gray}


.s_2 div{text-align: center; padding: 5% 0;}
.s_2 div button{width: 40%; padding: 3% 0; font-size: 2vw;}
.s_2 div button b{ animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite; } 
@keyframes rainbowLink {     
 0% { color: #ff2a2a; }
 15% { color: #ff7a2a; }
 30% { color: #ffc52a; }
 45% { color: #43ff2a; }
 60% { color: #2a89ff; }
 75% { color: #202082; }
 90% { color: #6b2aff; } 
 100% { color: #e82aff; }
}

.s_2 div p{padding: 2% 0; font-size: 1vw;}


footer div{background: black; color:white; text-align: center; font-size: 1.2vw; }
footer div p{padding: 2% 0;}
footer div p b{color: red; font-size: 1.7vw;}



















